
body {

    background-color: #fefefe;
    background-size: cover;
}


th {
    background-color: rgb(100, 5, 0);
    color: white;
    font-size: 20px;
    width: 300px;
    text-align: center;

}
tr:hover {
    background-color: yellow;
    font-weight: bold ;
}
td {
    font-size: 18px;
    padding: 15px;
}
#header1 {
    font-size: 50px;
    color:black;
    font-weight: bold;
    font-family: Tahoma

}
#header1:hover{
    color: darkred;
}
.container1 {
    width: 20%;
    height: 100%;
    padding: 30px;
    background-color: azure;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

.container2 {
    width: 80%;
    display: flex;
    padding: 30px;
    height: 100%;
    background-color: #aaaaaa ;
    border: 0px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}
.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(39, 87, 177);
}

#timeCheck {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(39, 87, 177);
    color: white;
  
}

.table-responsive {
overflow-x: auto;
}

/* CSS for small screens */
@media (max-width: 767px) {
.table-responsive {
width: 100%;
overflow-y: hidden;
-ms-overflow-style: -ms-autohiding-scrollbar;
border: 1px solid #ddd;
}
.table-responsive table {
width: 100%;
margin-bottom: 0;
color: #333;
border-collapse: collapse;
text-align: left;
white-space: nowrap;
}
.table-responsive table thead th {
border-bottom: 1px solid #ddd;
}
.table-responsive table tbody td {
border-bottom: 1px solid #ddd;
}
.table-responsive table tbody tr:last-child td {
border-bottom: none;
}
.table-responsive table td {
display: block;
padding: 8px;
line-height: 1.42857143;
background-color: #fff;
vertical-align: top;
border-top: none;
}
.table-responsive table td:before {
content: attr(data-label);
float: left;
font-weight: bold;
text-transform: uppercase;
}
}


/* Modal styles */
