<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/CSS/awb_address.css">

    <title>AWB Address</title>
       
</head>
<body>
    <h1>AWB Addresses Page</h1>

    <div class="container">
        <div class="table-responsive">
            <table id="data-table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <!--th>Customer_Id</th-->
                    <th>Type</th>
                    <th>Company</th>
                    <th>Address1</th>
                    <th>State</th>
    
                </tr>
                {{range .}}
                    <tr>
                        <td></td>
                        <td>{{.Name}}</td>
                        <!--td>{{.Customer_Id}}</td-->
                        <td>{{.Type}}</td>
                        <td>{{.Company}}</td>
                        <td>{{.Address1}}</td>
                        <td>{{.State}}</td>
                    </tr>
                {{end}}
            </table>
    <!--
            <div id="pagination">
                {{if gt .TotalPages 1}}
                    {{range .Pages}}
                        <a href="?page={{.}}">{{.}}</a>
                    {{end}}
                {{end}}
            </div>
        -->    
    
        </div>
        </div>
    
    </div>
    
    </form>
</body>
</html>
