<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/CSS/carrier_style.css">
    <script src="static/JSCRIPT/carrier.js"></script>

    <title>Port_Page</title>

    <style>
        .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
}

    </style>
       
</head>

<body>
    <h1>Carrier Page</h1>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-content"></p>
        </div>
    </div>


    <div class="container">
        <div class="table-responsive">
            <table id="data-table">
                <tr>
                    <th></th>
                    <th>3 Digit Prefix Code</th>
                    <th>Carrier Code</th>
                    <th>Vessel Flag</th>
                    <th>En Name</th>
                    <th>Cn Name</th>
                    <th>Transportation Type</th>
                    <th>IATA Code</th>
                    <th>Security Surcharge Fee</th>
                    <th>Fuel Surcharge Fee</th>
                    <th>Firms Code</th>
    
                </tr>
                {{range .}}
                <tr id="{{.Code}}" class="table-row">
                        <td></td>
                        <td>{{.Code}}</td>
                        <td>{{.Carrier_code}}</td>
                        <td>{{.Vessel_flag}}</td>
                        <td>{{.En_name}}</td>
                        <td>{{.Cn_name}}</td>
                        <td>{{.Type}}</td>
                        <td>{{.IATA_number}}</td>
                        <td>{{.Security_fee}}</td>
                        <td>{{.Oil_fee}}</td>
                        <td>{{.Customs_code}}</td>    
                    </tr>
                {{end}}
            </table>

        </div>
        </div>
    
    </div>
</body>
</html>
