<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" type="text/css" href="/CSS/styles.css"-->
    <title>Port_Page</title>
   
</head>
<body>
    <h1>Custom Entry Type Page</h1>

    <div class="container">
        <div class="table-responsive">
            <table id="data-table">
                <tr>
                    <th>Type</th>
                    <th>Name of Port</th>
                    <th>IATA Code</th>
                    <th>ICAO</th>
                    <th>Custom Port Code</th>
                    <th>Country Code</th>
                    <th>Time Zone</th>
    
                </tr>
                {{range .Views}}
                    <tr>
                        <td>{{.Type}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Code}}</td>
                        <td>{{.ICAO}}</td>
                        <td>{{.Custom_Port_Code}}</td>
                        <td>{{.Country_Code}}</td>
                        <td>{{.Time_Zone_Code}}</td>
    
                    </tr>
                {{end}}
            </table>
    <!--
            <div id="pagination">
                {{if gt .TotalPages 1}}
                    {{range .Pages}}
                        <a href="?page={{.}}">{{.}}</a>
                    {{end}}
                {{end}}
            </div>
            -->
    
        </div>
        </div>
    
    </div>
    
    </form>
</body>
</html>


