<!DOCTYPE html>
<html>
<head>
    <title>OTP Generator</title>
</head>
<body>
<h1>OTP Generator</h1>
<p>Issuer: {{.Issuer}}</p>
<p>Account Name: {{.AccountName}}</p>
<p>OTP: {{.OTP}}</p>
<img src="data:image/png;base64,{{.QR}}" alt="QR Code">
</body>
</html>