<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/CSS/port_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/JSCRIPT/portpage.js"></script>
    
    <title>Port_Page</title> 
   
</head>
<style>
    .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: left;
    cursor: pointer;
}

    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .page-content {
        margin-right: 0;
        transition: margin-right 0.3s;
    }

    .modal-sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff; /* White background */
        color: #fff; /* White font color */
        overflow-x: hidden;
        transition: 0.3s;
    }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .sidebar-content button {
        color: #fff; /* White font color */
        background: none;
        border: none;
        cursor: pointer;
    }

    #closeSidebar {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #openSidebar {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
        background-color: #fff; /* White background */
        color: black; /* White font color */
        border: none;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 20px;
    }

    #openSidebar:hover {
        background-color: #eee; /* Light gray hover background */
    }


</style>
<body>

    <h1>Port Page</h1>
    <button id="add-entry-btn">Add New Entry</button>

    <section> 
    <div id="add-entry-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="add-entry-form">
                <h2>Add New Port</h2>

                <label for="entry-type">Type:</label>
                <input type="text" id="entry-type" name="entry-type" required><br>

                <label for="entry-name">Name of Port:</label>
                <input type="text" id="entry-name" name="entry-name" required><br>

                <label for="entry-iata">IATA Code:</label>
                <input type="text" id="entry-iata" name="entry-iata" placeholder="Enter IATA Code - 3 Char" required><br>


                <label for="entry-icao">ICAO:</label>
                <input type="text" id="entry-icao" name="entry-icao" required><br>
    
                <label for="entry-customs-port-code">Custom Port Code:</label>
                <input type="text" id="entry-customs-port-code" name="entry-customs-port-code" required><br>

                <label for="entry-address">Address:</label>
                <input type="text" id="entry-address" name="entry-address" required><br>

                <label for="entry-zipcode">ZipCode:</label>
                <input type="text" id="entry-zipcode" name="entry-zipcode" required><br>
    
                <label for="entry-country-code">Country Code:</label>
                <input type="text" id="entry-country-code" name="entry-country-code" required><br>
    
                <label for="entry-time-zone-code">Time Zone:</label>
                <input type="text" id="entry-time-zone-code" name="entry-time-zone-code" required><br>

                <label for="entry-description">Description:</label>
                <input type="text" id="entry-description" name="entry-description" required><br>
    
                <button type="submit">Add Entry</button>
            </form>
        </div>
    </div>
    </section>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal-content"></div>
            <button id="modal-button">Update</button>
        </div>
    </div>


    <div class="container">
        <div class="table-responsive">
            <table id="data-table">
                <tr>
                    <th style="display: none;">ID</th>
                    <th></th>
                    <th>Type</th>
                    <th>Name of Port</th>
                    <th>IATA Code</th>
                    <th>ICAO</th>
                    <th>Custom Port Code</th>
                    <th>Country Code</th>
                    <th>Time Zone</th>
                    <th>Action</th>
    
                </tr>
                {{range .}}
                <tr id="{{.Code}}" class="table-row">
                        <td style="display: none;">{{.Ids}}</td>
                        <td></td>
                        <td>{{.Type}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Code}}</td>
                        <td>{{.ICAO}}</td>
                        <td>{{.Customs_Port_Code}}</td>
                        <td>{{.Country_Code}}</td>
                        <td>{{.Time_Zone_Code}}</td>
                        <td><button class="update-button">Update</button></td>

                    </tr>
                {{end}}
            </table>
 
        </div>
        </div>

    <br>
    <button id="openSidebar">Open Sidebar</button>
    <div class="modal-sidebar" id="sidebar">
        <div class="sidebar-content">
            <button id="closeSidebar">Close</button>
            <!-- Your sidebar content goes here -->
        </div>
    </div>

    <div class="page-content" style="color: white">
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
        testing <br>
    </div>

    <script>
        // Get the modal and button elements

        document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("add-entry-modal");
        var btn = document.getElementById("add-entry-btn");
        var closeModal = document.getElementById("close-modal");

        // When the "Add New Entry" button is clicked, show the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the close button is clicked, hide the modal
        closeModal.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Handle form submission
        var form = document.getElementById("add-entry-form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            // You can add code here to handle form submission, like sending data to a server.
            // For example, you can use fetch() to send the form data to a server.
            // After submitting the form, you can hide the modal.
            modal.style.display = "none";
        });

        var form = document.getElementById("add-entry-form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();

            // Collect form data
            var formData = new FormData(form);

            // Send a POST request to your Golang backend
            fetch("/port-create", {
                method: "POST",
                body: formData,
            })
                .then(response => response.text())
                .then(data => {
                    console.log(data); // You can handle the server response here
                })
                .catch(error => {
                    console.error("Error:", error);
                });

            // Hide the modal
            modal.style.display = "none";
        });
    </script>

<script>

    const openSidebarButton = document.getElementById("openSidebar");
    const closeSidebarButton = document.getElementById("closeSidebar");
    const sidebar = document.getElementById("sidebar");
    const pageContent = document.querySelector(".page-content");

    openSidebarButton.addEventListener("click", () => {
        sidebar.style.width = "250px";
        pageContent.style.marginLeft = "250px";
    });

    closeSidebarButton.addEventListener("click", () => {
        sidebar.style.width = "0";
        pageContent.style.marginLeft = "0";
    });
</script>

</body>
</html>
