<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/CSS/warehouse_style.css">
    
    <title>Warehouse_page</title>
   
</head>
<body>
    <h1>Warehouse Page</h1>

    <div class="container">
        <div class="table-responsive">
            <table id="data-table">
                <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Country</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Contacts</th>
                    <th>Contact Number</th>
                    
    
                </tr>
                {{range .}}
                <tr id="{{.Code}}" class="table-row">
                        <td></td>
                        <td>{{.Code}}</td>
                        <td>{{.Country}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.City}}</td>
                        <td>{{.Address}}</td>
                        <td>{{.Contacts}}</td>
                        <td>{{.Contact_number}}</td>

                    </tr>
                {{end}}
            </table>
 
        </div>
        </div>
    
    </div>
    
</body>
</html>
